[variables]
NODE_VERSION = "20"
NIXPACKS_NODE_VERSION = "20"

[phases.setup]
nixPkgs = ["nodejs_20", "npm-10_x"]

[phases.install]
cmds = ["npm ci --force"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"
